
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Text Utils.in</title>
  </head>
  <body>
  <div>
    <nav class="   navbar navbar-expand-lg navbar-light " style="background-color:#e3f2fd;" >
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
       <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Welcome to TextUtils !</strong> Analyze Your text the easy wayyy!! .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      <div class=" container ">
    <form action ='/analyze' method='post'> {% csrf_token %}




  <div class="form-group">

    <label for="exampleFormControlTextarea1">  Enter your text to see magic of TextUtils </label>
    <textarea class="form-control"  placeholder="Enter your text here" name="text" id="exampleFormControlTextarea1" rows="9"></textarea>
  </div>




      <div class="custom-control custom-switch">
  <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
</div>

      <div class="custom-control custom-switch">
  <input type="checkbox" name="capitalize" class="custom-control-input" id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Capitalize</label>
</div>
       <div class="custom-control custom-switch">
  <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch3">
  <label class="custom-control-label" for="customSwitch3">Extra Space remover</label>
</div>
       <div class="custom-control custom-switch">
  <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch4">
  <label class="custom-control-label" for="customSwitch4">New line Remover</label>
</div>
       <div class="custom-control custom-switch">
  <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">
  <label class="custom-control-label" for="customSwitch5">Character Count</label>
</div>

<button type="submit" class="btn btn-success">Analyze Text</button>

</form>
          </div>
      <br>
      <br>
      <br>
      <br>
      <br>

      <footer style=" position: fixed; padding: 10px 10px 0px 10px; width:100%;  text-align: center;  background-color: grey; color: black; }">
  <p>Creator: surbhi<br>
      visit my other projects on Github
  <a href="  https://github.com/surbhi12code ">Github link</a></p>
</footer>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>